@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

[epub|type~="z3998:letter"] header{
	text-align: right;
}

footer{
  margin-top: 1em;
	text-align: right;
}

[epub|type~="z3998:sender"],
[epub|type~="z3998:recipient"],
[epub|type~="z3998:salutation"]{
  font-variant: small-caps;
}

.signature{
	font-variant: small-caps;
}

footer [epub|type~="z3998:recipient"]{
  text-align: left
}
